
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* CSS rules for iPad */
  img, figure {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}


.scalable-image {
  transition: transform .4s ease-in-out;
  max-width: 100%;
}

.scalable-godel {
  display: flex;
  transition: transform .4s ease-in-out;
  max-width: 100%;
  height: auto;
  justify-content: space-around;
}

.image-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  
  align-items: center;
  justify-content: space-around;
  
}

.scalable-godel.scaled {
  transform: scale(1.5);
  position: relative;
  border-radius: 5%;
  width: 10%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #D2DBF7;
  
}

main, .div {
  box-sizing: border-box;
  padding-left: 90px;
  padding: 20px;
  margin: 4px auto;
  max-width: 96%;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main{
  text-align: center;
  font-weight: bold;
}

.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #000;
  margin-bottom: 5px;
}

.menu {
  position: fixed;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100vh;
  background-color: #D2DBF7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out;
  z-index: 2;
}

.menu ul {
  list-style: none;
  padding-top: 68px;
  padding-left: 8px;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.menu li {
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.menu-toggle.active ~ .menu {
  left: 0;
}

h1 {
  
  font-family: roboto;
  font-size: 24px;
  text-align: center;
  padding-bottom: 4px;
}

img, figure {
  width: 100px;
  height: 60%;
  border-radius: 10%;
  
}

.container {
  
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  margin: 4px auto;
  max-width: 96%;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  
}

.scalable-image {
  transition: transform .4s ease-in-out;
  max-width: 100%;
  height: 100%;
 
}

.scalable-image.scaled {
  transform: scale(3.5);
  position: absolute;
  border-radius: 5%;
  width: auto;
  height: 70%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.scalable-godel {
  transition: transform .4s ease-in-out;
  max-width: 100%;
  height: auto;
  justify-content: space-around;
  
}

.scalable-godel.scaled {
  transform: scale(1.8);
  position: absolute;
  border-radius: 5%;
  width: 35%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p, figcaption{
  font-size: 13px;
  text-align: justify;
  word-spacing: -1px;
 
}
